/* #selfpic{
  float:right;
  width:38%;
  margin-left:1.5em;
  margin-bottom:1.5em;
}
.paragraphstart{
  color:navy;
  font-size:1.2em;
  font-family:Georgia;
  font-weight:bold;
}*/
#index{
  text-decoration:underline;
}
img{
  display:inline-block;
  margin: 0 1em;
}
#batman{
  width: 50%;
}
#my_face{
  width:40%;
}
section{
  margin-bottom:2em;
}
