#index{
  text-decoration:underline;
}
p span{
  color:navy;
  font-family:Georgia,serif;
  font-size:1.5em;
  font-weight:bold;
}
img{
  display:inline-block;
  margin: 0 1em;
}
#batman{
  width: 50%;
}
#my_face{
  width:40%;
}
