/* *{
  border:1px solid red;
} */

body{
  margin:0;
  background-color:whitesmoke;
  min-width:1150px;
  padding-top:3rem;
}
header{
  padding-top:1rem;
  padding-bottom:1rem;
}
header a, footer a{
  color:navy;
}
#title, #subtitle{
  font-family:Georgia,serif;
  text-decoration:none;
  margin-left:7%;
}
#title{
  font-size:6rem;
  line-height:.8rem;
}
#subtitle{
  font-size:1.5rem;
  padding-top:-50px;
}
nav{
  margin-top:2rem;
  background-color:Gainsboro;
}
nav ul{
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
}
nav li{
  display:inline-block;
  width:33%;
}
nav a{
  display:block;
  text-decoration:none;
  font-weight:bold;
  font-family:Verdana,sans-serif;
  font-size:1.2rem;
  padding:.5rem 0;
}
nav a:hover{
  background-color:navy;
  color:Gainsboro;
}
#section_wrapper{
  width:60%;
  margin:auto;
  text-align:center;
}
section{
  margin-bottom:2rem;
}



/****************

*****************/

@media screen and (max-width:1150px){
  body{
    min-width:820px;
  }
  #title{
    font-size:4rem;
  }
  #subtitle{
    font-size:medium;
  }
}

/****************

*****************/

@media screen and (max-width:820px){
  body{
    min-width:500px;
  }
  #title{
    font-size:3rem;
  }
  #subtitle{
    font-size:0.9rem;
  }
  nav li{
    width:20%;
  }
}


/****************

*****************/

@media screen and (max-width:500px){
  body{
    min-width:320px;
  }
  nav li{
    width:100%;
    display:block;
    border-top: 2px solid navy;
  }
  nav li:nth-child(3){
    width:100%;
    display:block;
    border-bottom: 2px solid navy;
  }
  nav a{
    font-size:0.8rem;
  }
  #section_wrapper{
    width:80%;
    margin:auto;
  }
  #title{
    font-size:2rem;
  }
}
